<div class="themes">
  <div *ngIf="themes.length != 0; then render else loading"></div>
  <ng-template #render>
    <mat-selection-list #themesList>
      <mat-list-option *ngFor="let theme of themes"
                       [(selected)]="theme.selected"
                       [value]="theme">
        {{theme.name}}
      </mat-list-option>
    </mat-selection-list>
  </ng-template>
  <ng-template #loading>
    <div class="loading" fxLayout="row" fxLayoutAlign="center">
      <mat-spinner></mat-spinner>
    </div>
    <h2 id="question-number">Loading...</h2>
  </ng-template>
  <div>
    <button mat-flat-button color="black" (click)="startQuiz()">Get questions</button>
  </div>
</div>
