<div class="main">
  <a mat-button color="black" (click)="isFormHidden=!isFormHidden">Add question</a>
  <div class="form" *ngIf="!isFormHidden">
    <div class="question-form">
      <mat-form-field class="question-category" appearance="fill">
        <mat-label>Category</mat-label>
        <input [value]="questionForm.category" matInput placeholder="Cold War">
      </mat-form-field>

      <mat-form-field class="question-text" appearance="fill">
        <mat-label>question text</mat-label>
        <textarea [value]="questionForm.text" matInput placeholder="Cold War start..."></textarea>
      </mat-form-field>

      <!--      <mat-form-field class="example-full-width" appearance="fill">-->
      <!--        <mat-label>question text</mat-label>-->
      <!--        <textarea matInput placeholder="Cold War start..."></textarea>-->
      <!--      </mat-form-field> image?-->
      <div class="question-answers">
        <mat-label>Answers</mat-label>
        <ul>
          <li *ngFor="let answer of questionForm.answers">
            <input matInput [value]="answer">
          </li>
        </ul>
        <button (click)="onClick()">add answer</button>
      </div>
      <mat-form-field class="question-correct-answers" appearance="fill">
        <mat-label>Correct answers id</mat-label>
        <input matInput (change)="parseCorrAnswers($event)" placeholder="1, 2, 3">
      </mat-form-field>
      <button (click)="sendQuestion()">send new question</button>
    </div>
  </div>
</div>
