<div class="add-button">
  <div class="form">
    <div class="col-12 rmpm dropzone" appDrag (files)="filesDropped($event)">
      <div class="text-wrapper">
        <div class="centered">Drop your file here!</div>
      </div>
    </div>
    <div class="question-form">
      <mat-form-field class="question-category" appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput [(ngModel)]="questionForm.category"/>
      </mat-form-field>

      <mat-form-field class="question-text" appearance="fill">
        <mat-label>question text</mat-label>
        <textarea matInput [(ngModel)]="questionForm.text"></textarea>
      </mat-form-field>

      <div class="answers-form">
        <mat-label class="answers-label">Answers</mat-label>

        <div *ngFor="let answer of questionForm.answers; index as i">
          <textarea matInput [(ngModel)]="questionForm.answers[i]" ngModel [ngModelOptions]="{updateOn: 'blur'}"></textarea>
          <mat-checkbox (change)="changeCorrectAnswer(answer)">Correct answer</mat-checkbox>
        </div>
        <button mat-stroked-button color="white" class="answers-button" (click)="onClick()">add answer</button>
      </div>
      <button mat-stroked-button color="white" class="answers-button" (click)="log(questionForm)">log</button>
      <button mat-stroked-button color="white" class="send-button" (click)="sendQuestion()">Send new question</button>
    </div>
  </div>
</div>
