.question-form {
  display: flex;
  flex-direction: column;
  background: #bbbbbb;
}

.start-button {
  padding-top: 1rem;
}

.get-id-button {
  padding-top: 1rem;
}

::ng-deep .mat-flat-button {
  height: 3rem;
  width: 15rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: white;
}

::ng-deep .mat-form-field {
  color: white!important;
  /*background-color: black;*/
}

::ng-deep .mat-label {
  color: white!important;
  /*background-color: black!important;*/
}

.question-answers {
  /*background-color: black;*/
  color: white;
  text-align: center;
}

.question-form * {
  flex-direction: row;
}

.question-form {
  background-color: transparent;
}

.ul-question {
  /*background: #bbbbbb;*/
}

.send-button {
  color: white;
}

.answers-form {
  color: white;
  /*text-align: center;*/
}

.answers-form .answers-label {
  text-align: center;
}

.answers-form .answers-button {
  text-align: center;
}
