<!--<div class="question">-->
<!--  <div class="question-title">Question</div>-->
<!--  <div class="category">-->
<!--    Category:-->
<!--    {{questions[currQuestion].category}}-->
<!--  </div>-->
<!--  <div class="text">-->
<!--    Question:-->
<!--    {{questions[currQuestion].text}}-->
<!--  </div>-->
<!--  <div class="answers">-->
<!--    Answers:-->
<!--    <mat-selection-list #answersList>-->
<!--      <mat-list-option *ngFor="let answer of questions[currQuestion].answers"-->
<!--                       [(selected)]="answer.selected">-->
<!--        {{answer.answer}}-->
<!--      </mat-list-option>-->
<!--    </mat-selection-list>-->
<!--  </div>-->

<!--</div>-->
<div class="background">
  <div class="main">
    <hr>
    <!--  <h2 style="text-align:center;" id="question-number">Loading...</h2>-->
    <div class="image">
      <img style="height: 500px; display: block"
           src="https://static01.nyt.com/images/2021/09/14/science/07CAT-STRIPES/07CAT-STRIPES-mediumSquareAt3X-v2.jpg"/>
    </div>
    <p class="question" id="question-text">
      {{questions[currQuestion].text}}
    </p>
    <button *ngFor="let answer of questions[currQuestion].answers"
            class="button neutral" (click)="doSomething()">{{answer.answer}}</button>
    <br>
  </div>
</div>
