<div class="background">
  <div class="main">
    <hr>
    <div class="!over" *ngIf="gameOver; then over else inProgress"></div>
    <ng-template #inProgress>
      <div>
        Correct answers: {{points}}
      </div>

      <div *ngIf="questions && currentQuestion; then render else loading"></div>
      <ng-template #render>
        <div class="image">
          <div *ngFor="let img of currentQuestion.images">
            <img style="height: 300px; display: block"
                 [src]="img" alt="question photo"/>
          </div>
        </div>

        <p class="question" id="question-text">{{currentQuestion.text}}</p>
        <button *ngFor="let answer of currentQuestion.answers"
                class="button neutral" (click)="selectAnswer(answer)">
          {{answer.answer}}
        </button>
      </ng-template>

      <ng-template #loading>
        <h2 style="text-align:center;" id="question-number">Loading...</h2>
      </ng-template>
    </ng-template>

    <ng-template #over>
      <div class="over-form">
        <h1>Quiz is over!</h1>
        <div class="result">Your result: {{points}}</div>
        <button
          class="button neutral"
          (click)="goToMenu()">
          Main menu
        </button>
        <img style="height: 500px" src="assets/cat.png" alt="Congratulation cat"/>
      </div>
    </ng-template>
    <br>
  </div>
</div>
